<title bridge_title="Change Password">Edit Profile</title>

<div class="mt-4 rounded-lg border border-gray-100 p-3 mb-5 shadow-[rgba(7,_65,_210,_0.1)_0px_9px_30px]">

<%= form_for(current_user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: current_user %>

  <div class="field">
    <%= f.label :password, class: 'block text-sm' %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'w-full rounded-lg border-gray-200 p-4 text-sm shadow-sm' %>
  </div>

  <div class="field mt-4">
    <%= f.label :password_confirmation, class: 'block text-sm' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full rounded-lg border-gray-200 p-4 text-sm shadow-sm' %>
  </div>

    <div class="field">
      <p class="text-sm mb-5 mt-2">
        To edit your profile, please enter your current password. This ensures the security of your account information.
      </p>
      <%= f.label :current_password, class: 'block text-sm' %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'w-full rounded-lg border-gray-200 p-4 text-sm shadow-sm' %>
    </div>

  <div class="actions">
    <%= f.submit "Edit Profile", class: "mt-6 block w-full rounded-lg bg-sky-500 px-5 py-3 text-sm font-medium text-white" %>
  </div>
<% end %>

</div>